
.card-content {
    background-color: rgb(255, 255, 255);
    width: 900px;
    height: 300px;
    margin: 40px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 67%;
    padding: 10px;
    padding-bottom: 5px;
  }
  
  .card-image {
    width: 33%;
    padding: 10px;
  }
  
  .card-img img {
    max-width: 300px;
    height: 300px;
    
  }
  

  .card-info{
    width: 75%; 
    padding-left: 10px; /* Agregar espacio entre la imagen y el texto */
    padding-right: 25%;
  }
  .card-title {
    color: #000;
    font-size: 2rem;
    margin-bottom: 10px;
  }
  
  .card-text {
    color: #000;
    font-size: 1rem;
   
  }
  
  /*iconos*/

  .ingredientes img{

    width: 15px;
    height: 15px;
  }
  .ingredientes{
    height: min-content;
    width: min-content;
    -ms-text-size-adjust: 15px;
    color: #000;
  }

  .ingredientes span {
    padding-right:40px;
    font-size: 15px;
  }